// Define variables for your color scheme

// For example:
$red: #a71618;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$beige: #f3eee0;
$light-gray: #F4F4F4;
$cinema-red: rgb(143, 23, 23);
