
.beige-background {
  background-color: $white;
}

.smaller-cards {
  height: 100px;
}

.bigger-cards {
  height: 300px;
}

.button-right {
  float: right;
  margin: 20px;
}

.white-link {
  text-decoration: none;
  color: white;
}

.padding-ltb {
  padding-left: 40px;
  padding-top: 25px;
}