.center-form {
  margin: auto;
  width: 70%;
  margin-top: 40px;
}

.blue-back-color {
  background: linear-gradient( rgb(36, 17, 211), rgb(23, 9, 151));
  border: 1px solid rgb(37, 28, 116);
}

.blue-back-color:hover {
  background: linear-gradient(rgb(26, 72, 156), rgb(26, 72, 156));
  color: white;
}
